@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cinzel:wght@900&family=EB+Garamond:wght@600&family=Press+Start+2P&family=Russo+One&display=swap');
.home-header{
    background: #b25aff;
    color: #fff;
    background-image: url('https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 110%;
   
}
h1{
    font-size: xx-large;
    font-family: 'Cinzel', serif;;
}
#demo{
    font-size: larger;
    font-family: 'Russo One', sans-serif;
}
.logo{
    width: 15%;
    margin: 10px 8%;
}
.home-header .row{
    padding-top: 80px;
    padding-bottom: 169px;
}
.promo-text-box{
    margin-top: 15%;
}
.promo-text-box h1{
    margin-bottom: 25px;
}
.play-btn{
    font-size: 20px;
    margin: 20px;
    color: white;
    letter-spacing: 5px;
}
.lead-form{
    width: 350px;
    background: #fff;
    margin: 10px auto;
    border-radius: 3px;
}
.title-box{
    background-color: #400554;
    height: 150px;
    padding-top: 30px;
    border-bottom-left-radius: 200px 50px;
    border-bottom-right-radius: 200px 50px;
}
form label{
    float: left;
    margin-left: 37px;
    color: #999;
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 14px;
}
.input-box{
    width: 280px;
    height: 40px;
    padding: 0px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #999;
}
.input-box::placeholder{
    color: #999;
}
.submit-btn{
    font-family: 'Cinzel', serif;;
    width: 280px;
    height: 60px;
    color: #fff;
    font-weight: 600;
    background-color: #ff27c5;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: -30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
  
  .submit-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  h4{
    font-style: italic;
    font-family: cursive;
  }